# Python
__pycache__/
*.pyc
*.pkl
.env
venv/
.venv/

# Node
node_modules/
.next/
.vercel/

# Data
backend/data/raw/*.csv
backend/data/cleaned/*.csv

# Models
backend/models/*.pkl
!backend/models/xgboost_calibrated.pkl

# OS
.DS_Store
Thumbs.db
